<?xml version="1.0"?>
<!--
/**
 * Copyright © Ulmod. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config/etc/system.xsd">
    <system>
        <tab id="ulmod_extensions" translate="label" sortOrder="8888888">
            <label>Ulmod Extensions</label>
        </tab>	        
        <section id="um_productslider" translate="label" type="text" sortOrder="440" showInWebsite="1" showInStore="1" showInDefault="1">
            <class>separator-top</class>
            <label>Product Slider</label>
            <tab>ulmod_extensions</tab>
            <resource>Ulmod_Productslider::config_productslider</resource>		
            <group id="general" translate="label" type="text" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1">
                <label>General</label>
               <field id="enable_productslider" translate="label comment" type="select" sortOrder="20" showInWebsite="1" showInStore="1" showInDefault="1">
                    <label>Enable</label>
                    <comment>If Yes, the extension will be enabled on the frontend</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field> 
            </group>
        </section>
    </system>
</config>