.img__banner--category img{
    @media screen and (min-width: 768px) {
    width: 100% !important;
    height: 400px !important;
    object-fit: cover !important;
    }
}

.pagebuilder-mobile-hidden {
    @media screen and (max-width: 768px){
        display: none !important;
    }
}