.page-header {
    background-color: @cinzaClaro;
    border: 0;
    .panel.wrapper {
        background-color: darken(@cinzaClaro, 2);
        border-color: @cinzaClaro;
    }
    @media screen and (max-width: 767px) {
        margin-bottom: 0; 
    }
}

header,
.sections.nav-sections {
    font-family: @montserratBold;
}

.panel {
    .header {
        color: @roxo;
        font-family: @montserratBold;
        .links {
            a {
                color: @brancoNeve !important;
            }
            @media screen and (min-width: 768px) {
                a {
                    color: @roxo !important;
                }
            }
        }
    }
}

.block-search input {
    font-family: @montserratRegular;
    @media screen and (min-width: 768px) {
        border-radius: 50px;
        border: 2px solid @verdeNeon;
        color: @brancoNeve;
        background-color: @cinzaClaro;
        &::placeholder {
            color: @brancoNeve;
            font-family: @montserratRegular;
        }
    }
}

.actions button::before {
    color: @brancoNeve !important;
}

.action.showcart::before {
    color: @verdeNeon !important;
}

.section-item-content {
    background-color: @roxo;
    @media screen and (min-width: 768px) {
        border-bottom: 3px solid @verdeNeon;
    }

    nav {
        background-color: @roxo;
        ul {
            li {
                a {
                    color: @brancoNeve !important;
                }
            }
        }
    }
}

.section-item-title {
    @media screen and (max-width: 767px) {
        a {
            color: @roxo;
        }
    }
}

@media screen and (min-width: 768px) {
    .search {
        .control input {
            margin-top: 35px;
        }

        .control::before {
            margin-top: 35px !important;
        }
    }

    .minicart-wrapper {
        margin-top: 35px;
    }

    .actions button {
        margin-top: 35px !important;
    }
}

@media only screen and (max-width: 767px) {
    .nav-sections .header.links a,
    .nav-sections .header.links a:hover {
        color: @brancoNeve;
    }
}

.minicart-wrapper {
    .counter.qty {
        background-color: @roxo !important;
        position: absolute;
        height: 15px !important;
        min-width: 10px !important;
        line-height: 16px !important;
        left: 13px;
        font-size: 11px;
        border-radius: 50% !important;
    }
}

.navigation .level0.active > .level-top {
    border: none;
}

.block-collapsible-nav .item.current > strong {
    border-color: @roxo;
}

.action-auth-toggle {
    color: @roxo !important;
    background-color: transparent !important;
}

.action-register {
    background-color: @roxo !important;
    border-color: @roxo !important;
}